<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/build/css/styles.min.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav class="navigation">
                
            <img class="navigation__logo" src="/images/logo.png">
            
            <ul class="navigation__items">
                <li><a href="/"><img src="/images/icons/png/home.png">Home</a></li>
                <li><a href="https://looklive.com/discover/"><img src="/images/icons/png/latest.png">Latest</a></li>
                <li><a href="https://looklive.com/people/"><img src="/images/icons/png/people.png">People</a></li>
                <li><a href="https://looklive.com/shows/"><img src="/images/icons/png/shows.png">Shows</a></li>
                <li><a href="https://looklive.com/music/"><img src="/images/icons/png/music.png">Music</a></li>
                <li><a href="https://looklive.com/brands/"><img src="/images/icons/png/brands.png">Brands</a></li>
            </ul>

        </nav>
        
        <header class="header">
            
            <img class="header__background" src="/images/header.jpg">

        </header>

        <main>
            
            {{{body}}}

        </main>

        <script src="/build/js/jquery.js"></script>
        <script src="/build/js/app.js"></script>
    </body>
</html>
